@use "../variables" as *;
@import "../media-queries";

.title-and-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.users {
  width: 100% !important;

  thead {
    background-color: $page-background-color;
    color: #888;
    font-weight: bold;

    th {
      text-align: left;
      padding: 12px;
    }

    th:first-child {
      border-radius: 8px 0 0 8px;
      -moz-border-radius: 8px 0 0 8px;
      -webkit-border-radius: 8px 0 0 8px;
    }

    th:last-child {
      border-radius: 0 8px 8px 0;
      -moz-border-radius: 0 8px 8px 0;
      -webkit-border-radius: 0 8px 8px 0;
    }
  }

  .no-data {
    padding: 56px 0 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
