$primary-color: rgb(21, 82, 212);
$secondary-color: rgb(151, 21, 212);

$gray-text-color: #55555f;
$text-secondary-color: #64686e;
$page-list-text-color: #266894;
$button-text-color: rgb(255, 255, 255);

$header-color: #e7e9f1;
$page-background-color: #fdfdfd;
$page-darker-background-color: rgb(234, 239, 243);

$card-color: #fdfdfd;
$user-card-color: #e0e9ee;
$page-list-color: #bfdff4;
$input-border-color: rgb(213, 222, 229);
$divider-border-color: rgb(226, 233, 238);
