$card-color: #fdfdfd;
$primary-color: rgb(21, 82, 212);
$text-secondary-color: #64686e;
$button-text-color: rgb(255, 255, 255);
$page-background-color: #fdfdfd;
$page-darker-background-color: rgb(234, 239, 243);
$input-border-color: rgb(213, 222, 229);
$divider-border-color: rgb(226, 233, 238);
