@use "variables" as *;
@import "media-queries";

$user-card-color: #e0e9ee;
$page-list-color: #bfdff4;
$page-list-text-color: #266894;
$gray-text-color: #55555f;

main {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 360px;
  background-color: $card-color;
  overflow: hidden;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mobile {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &_first-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
  }
}

.logo {
  font-size: 1.5rem;
  font-family: monospace;
  font-weight: bold;
}

.user-card {
  background-color: $user-card-color;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  gap: 16px;
}

.user-card-photo {
  background-color: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.user-card-data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-name {
  width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.user-role {
  font-size: 0.95rem;
  color: $gray-text-color;
}

.page-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: $gray-text-color;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: rgba($color: $page-list-color, $alpha: 0.3);
    color: $page-list-text-color;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 16px;

  @include mobile {
    justify-content: space-between;
  }
}

.content {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.account-popup {
  background-color: $card-color;
  padding: 4px;
  border-radius: 8px;
  position: absolute;
  right: 0;
  bottom: -80px;
  box-shadow: rgba(0, 0, 0, 10%) 0px 0px 1em;
}
