$sidebar-color: #fff;

main {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 300px;
  background-color: $sidebar-color;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
