@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  background: #f8f8f8;
  color: #29292e;
  height: 100vh;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}

input {
  border-radius: 4px;
  border: 1px solid $input-border-color;
  padding: 16px;
  width: 100%;
}

#root {
  height: 100vh;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $page-background-color;
}

.darker-background {
  background-color: $page-darker-background-color;
}

.main-title {
  width: 100%;
  padding-bottom: 24px;
}

.clickable {
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}

.user-avatar {
  background-color: $primary-color;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #f2f5f7;
}

.default-input {
  width: 100%;
}
