@use "variables" as *;
@import "media-queries";

button {
  padding: 16px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}

.login {
  position: relative;

  .tooltip {
    position: absolute;
    right: 28px;
    top: 28px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
    color: #fff;
    background-color: rgba($color: $primary-color, $alpha: 0.2);
    font-size: 20px;

    &:hover {
      box-shadow: none;
      background-color: rgba($color: $primary-color, $alpha: 0.3);
    }

    .tooltip-text {
      background-color: $text-secondary-color;
      color: #fff;
      padding: 8px;
      border-radius: 8px;
      position: absolute;
      width: 254px;
      top: -80px;
      right: -129px;
      font-weight: normal;

      @include mobile {
        right: 0px;
      }
    }
  }
}

.title {
  text-align: center;
  font-size: 24px;
  padding-bottom: 16px;
}

.subtitle {
  text-align: center;
}

.highlight-text {
  color: $primary-color;
  font-weight: bold;
  cursor: pointer;
}

.button-primary {
  background-color: $primary-color;
  color: $button-text-color;
}

.button-secondary {
  background-color: $card-color;
  color: $primary-color;
}
