@use "variables" as *;

button {
  padding: 16px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}

.title {
  text-align: center;
  font-size: 24px;
  padding-bottom: 16px;
}

.subtitle {
  text-align: center;
}

.highlight-text {
  color: $primary-color;
  font-weight: bold;
  cursor: pointer;
}

.button-primary {
  background-color: $primary-color;
  color: $button-text-color;
}

.button-secondary {
  background-color: $card-color;
  color: $primary-color;
}
